# ---------- Virtual Environment ----------
.venv/
venv/

# ---------- Python Cache ----------
__pycache__/
*.pyc
*.pyo
*.pyd

# ---------- Environment Files ----------
.env
.env.*

# ---------- OS Junk ----------
.DS_Store
Thumbs.db

# ---------- IDE ----------
.vscode/
.idea/

# ---------- DATASETS (IGNORE ENTIRE FOLDER) ----------
datasets/



# ---------- Logs ----------
*.log
logs/

backend/threats.db
*.db
